$colorNeutral100: #ffffff;    
$colorNeutral200: #f8fafc;    
$colorNeutral300: #e5eaef;    
$colorNeutral400: #8295ad;    
$colorNeutral500: #647891;    
$colorNeutral600: #4a6382;    
$colorNeutral700: #2e4664;    
$colorNeutral800: #141e2b;    
$colorSpecialtySkyBlueDark: #1f88de;    
$colorSpecialtySkyBlueLight: #59a5e2;    
$colorSpecialtySkyBluePale: #ebf5fc;    
$colorSpecialtyChristmasDark: #6bbb85;    
$colorSpecialtyChristmasLight: #91cea5;    
$colorSpecialtyChristmasPale: #deede3;    
$colorSpecialtySalmonDark: #e36357;    
$colorSpecialtySalmonLight: #f98d82;    
$colorSpecialtySalmonPale: #ebdedd;    
$colorSpecialtySunsetDark: #ecb241;    
$colorSpecialtySunsetLight: #fdcb6b;    
$colorSpecialtySunsetPale: #ece6db;    
$colorTransparentSky: #3a98e533;    
$colorPrimarySky500: #ff0384;    
$colorPrimarySky600: #1f7ac4;    
$colorPrimarySky700: #1d67a3;    
$colorPrimarySky800: #16558a;    
$colorSecondarySalmon500: #f06e61;    
$colorSecondarySalmon600: #ce4a3e;    
$colorSecondarySalmon700: #ad3b31;    
$colorSecondarySalmon800: #962d24;    
$colorSecondaryChristmas500: #7cc694;    
$colorSecondaryChristmas600: #2b8748;    
$colorSecondaryChristmas800: #125c2a;    
$colorSecondarySunset500: #f6bd4e;    
$colorSecondarySunset700: #914c07;    
$colorSecondarySunset800: #803d0d;    
$colorSurfaceBackgroundPrimaryDefault: $colorNeutral100;    
$colorSurfaceBackgroundPrimaryDisable: $colorNeutral200;    
$colorSurfaceBackgroundSecondaryDefault: $colorNeutral200;    
$colorSurfaceBackgroundSecondaryDisable: $colorNeutral300;    
$colorSurfaceBorderPrimaryDefault: $colorNeutral100;    
$colorSurfaceBorderPrimaryDisable: $colorNeutral200;    
$colorSurfaceBorderSecondaryDefault: $colorNeutral200;    
$colorSurfaceBorderSecondaryDisable: $colorNeutral300;    
$colorSurfaceTextOnprimaryDefault: $colorNeutral700;    
$colorSurfaceTextOnprimaryDisable: $colorNeutral400;    
$colorSurfaceTextOnsecondaryDefault: $colorNeutral800;    
$colorSurfaceTextOnsecondaryDisable: $colorNeutral400;    
$colorActionBackgroundPrimaryDefault: $colorPrimarySky600;    
$colorActionBackgroundPrimaryHover: $colorPrimarySky700;    
$colorActionBackgroundPrimaryFocus: $colorPrimarySky800;    
$colorActionBackgroundPrimaryDisable: $colorNeutral300;    
$colorActionBackgroundSecondaryDefault: $colorNeutral100;    
$colorActionBackgroundSecondaryHover: $colorNeutral100;    
$colorActionBackgroundSecondaryFocus: $colorNeutral100;    
$colorActionBackgroundSecondaryDisable: $colorNeutral100;    
$colorActionTextOnprimaryDefault: $colorNeutral100;    
$colorActionTextOnprimaryHover: $colorNeutral100;    
$colorActionTextOnprimaryFocus: $colorNeutral100;    
$colorActionTextOnprimaryDisable: $colorNeutral400;    
$colorActionTextOnsecondaryDefault: $colorPrimarySky600;    
$colorActionTextOnsecondaryHover: $colorPrimarySky700;    
$colorActionTextOnsecondaryFocus: $colorPrimarySky800;    
$colorActionTextOnsecondaryDisable: $colorNeutral400;    
$colorActionBorderPrimaryDefault: $colorPrimarySky600;    
$colorActionBorderPrimaryHover: $colorPrimarySky700;    
$colorActionBorderPrimaryFocus: $colorNeutral800;    
$colorActionBorderPrimaryDisable: $colorNeutral300;    
$colorActionBorderSecondaryDefault: $colorPrimarySky600;    
$colorActionBorderSecondaryHover: $colorPrimarySky700;    
$colorActionBorderSecondaryFocus: $colorPrimarySky800;    
$colorActionBorderSecondaryDisable: $colorNeutral300;    
$colorFeebackBackgroundWarningDefault: $colorSecondarySunset500;    
$colorFeebackBackgroundWarningHover: $colorSecondarySunset700;    
$colorFeebackBackgroundWarningFocus: $colorSecondarySunset800;    
$colorFeebackBackgroundWarningDisable: $colorNeutral300;    
$colorFeebackBackgroundErrorDefault: $colorSecondarySalmon600;    
$colorFeebackBackgroundErrorHover: $colorSecondarySalmon700;    
$colorFeebackBackgroundErrorFocus: $colorSecondarySalmon800;    
$colorFeebackBackgroundErrorDisable: $colorNeutral300;    
$colorFeebackBackgroundSafeDefault: $colorSecondaryChristmas500;    
$colorFeebackBackgroundSafeHover: $colorSecondaryChristmas600;    
$colorFeebackBackgroundSafeFocus: $colorSecondaryChristmas800;    
$colorFeebackBackgroundSafeDisable: $colorNeutral300;    
$colorFeebackBorderWarningDefault: $colorSecondarySunset700;    
$colorFeebackBorderWarningHover: $colorSecondarySunset700;    
$colorFeebackBorderWarningFocus: $colorSecondarySunset700;    
$colorFeebackBorderWarningDisable: $colorNeutral400;    
$colorFeebackBorderErrorDefault: $colorSecondarySalmon800;    
$colorFeebackBorderErrorHover: $colorSecondarySalmon800;    
$colorFeebackBorderErrorFocus: $colorSecondarySalmon800;    
$colorFeebackBorderErrorDisable: $colorNeutral400;    
$colorFeebackBorderSafeDefault: $colorSecondaryChristmas600;    
$colorFeebackBorderSafeHover: $colorSecondaryChristmas600;    
$colorFeebackBorderSafeFocus: $colorSecondaryChristmas600;    
$colorFeebackBorderSafeDisable: $colorNeutral400;    
$colorFeebackTextOnwarningDefault: $colorNeutral700;    
$colorFeebackTextOnwarningHover: $colorNeutral700;    
$colorFeebackTextOnwarningFocus: $colorNeutral700;    
$colorFeebackTextOnwarningDisable: $colorNeutral700;    
$colorFeebackTextOnerrorDefault: $colorNeutral700;    
$colorFeebackTextOnerrorHover: $colorNeutral700;    
$colorFeebackTextOnerrorFocus: $colorNeutral700;    
$colorFeebackTextOnerrorDisable: $colorNeutral700;    
$colorFeebackTextOnsafeDefault: $colorNeutral700;    
$colorFeebackTextOnsafeHover: $colorNeutral700;    
$colorFeebackTextOnsafeFocus: $colorNeutral700;    
$colorFeebackTextOnsafeDisable: $colorNeutral700;    
