
:root {
    --colorNeutral100: #ffffff;    
    --colorNeutral200: #f8fafc;    
    --colorNeutral300: #e5eaef;    
    --colorNeutral400: #8295ad;    
    --colorNeutral500: #647891;    
    --colorNeutral600: #4a6382;    
    --colorNeutral700: #2e4664;    
    --colorNeutral800: #141e2b;    
    --colorSpecialtySkyBlueDark: #1f88de;    
    --colorSpecialtySkyBlueLight: #59a5e2;    
    --colorSpecialtySkyBluePale: #ebf5fc;    
    --colorSpecialtyChristmasDark: #6bbb85;    
    --colorSpecialtyChristmasLight: #91cea5;    
    --colorSpecialtyChristmasPale: #deede3;    
    --colorSpecialtySalmonDark: #e36357;    
    --colorSpecialtySalmonLight: #f98d82;    
    --colorSpecialtySalmonPale: #ebdedd;    
    --colorSpecialtySunsetDark: #ecb241;    
    --colorSpecialtySunsetLight: #fdcb6b;    
    --colorSpecialtySunsetPale: #ece6db;    
    --colorTransparentSky: #3a98e533;    
    --colorPrimarySky500: #3a98e5;    
    --colorPrimarySky600: #c41f1f;    
    --colorPrimarySky700: #1d67a3;    
    --colorPrimarySky800: #16558a;    
    --colorSecondarySalmon500: #f06e61;    
    --colorSecondarySalmon600: #ce4a3e;    
    --colorSecondarySalmon700: #ad3b31;    
    --colorSecondarySalmon800: #962d24;    
    --colorSecondaryChristmas500: #7cc694;    
    --colorSecondaryChristmas600: #2b8748;    
    --colorSecondaryChristmas800: #125c2a;    
    --colorSecondarySunset500: #f6bd4e;    
    --colorSecondarySunset700: #914c07;    
    --colorSecondarySunset800: #803d0d;    
    --colorSurfaceBackgroundPrimaryDefault: var(--colorNeutral100);    
    --colorSurfaceBackgroundPrimaryDisable: var(--colorNeutral200);    
    --colorSurfaceBackgroundSecondaryDefault: var(--colorNeutral200);    
    --colorSurfaceBackgroundSecondaryDisable: var(--colorNeutral300);    
    --colorSurfaceBorderPrimaryDefault: var(--colorNeutral100);    
    --colorSurfaceBorderPrimaryDisable: var(--colorNeutral200);    
    --colorSurfaceBorderSecondaryDefault: var(--colorNeutral200);    
    --colorSurfaceBorderSecondaryDisable: var(--colorNeutral300);    
    --colorSurfaceTextOnprimaryDefault: var(--colorNeutral700);    
    --colorSurfaceTextOnprimaryDisable: var(--colorNeutral400);    
    --colorSurfaceTextOnsecondaryDefault: var(--colorNeutral800);    
    --colorSurfaceTextOnsecondaryDisable: var(--colorNeutral400);    
    --colorActionBackgroundPrimaryDefault: var(--colorPrimarySky600);    
    --colorActionBackgroundPrimaryHover: var(--colorPrimarySky700);    
    --colorActionBackgroundPrimaryFocus: var(--colorPrimarySky800);    
    --colorActionBackgroundPrimaryDisable: var(--colorNeutral300);    
    --colorActionBackgroundSecondaryDefault: var(--colorNeutral100);    
    --colorActionBackgroundSecondaryHover: var(--colorNeutral100);    
    --colorActionBackgroundSecondaryFocus: var(--colorNeutral100);    
    --colorActionBackgroundSecondaryDisable: var(--colorNeutral100);    
    --colorActionTextOnprimaryDefault: var(--colorNeutral100);    
    --colorActionTextOnprimaryHover: var(--colorNeutral100);    
    --colorActionTextOnprimaryFocus: var(--colorNeutral100);    
    --colorActionTextOnprimaryDisable: var(--colorNeutral400);    
    --colorActionTextOnsecondaryDefault: var(--colorPrimarySky600);    
    --colorActionTextOnsecondaryHover: var(--colorPrimarySky700);    
    --colorActionTextOnsecondaryFocus: var(--colorPrimarySky800);    
    --colorActionTextOnsecondaryDisable: var(--colorNeutral400);    
    --colorActionBorderPrimaryDefault: var(--colorPrimarySky600);    
    --colorActionBorderPrimaryHover: var(--colorPrimarySky700);    
    --colorActionBorderPrimaryFocus: var(--colorNeutral800);    
    --colorActionBorderPrimaryDisable: var(--colorNeutral300);    
    --colorActionBorderSecondaryDefault: var(--colorPrimarySky600);    
    --colorActionBorderSecondaryHover: var(--colorPrimarySky700);    
    --colorActionBorderSecondaryFocus: var(--colorPrimarySky800);    
    --colorActionBorderSecondaryDisable: var(--colorNeutral300);    
    --colorFeebackBackgroundWarningDefault: var(--colorSecondarySunset500);    
    --colorFeebackBackgroundWarningHover: var(--colorSecondarySunset700);    
    --colorFeebackBackgroundWarningFocus: var(--colorSecondarySunset800);    
    --colorFeebackBackgroundWarningDisable: var(--colorNeutral300);    
    --colorFeebackBackgroundErrorDefault: var(--colorSecondarySalmon600);    
    --colorFeebackBackgroundErrorHover: var(--colorSecondarySalmon700);    
    --colorFeebackBackgroundErrorFocus: var(--colorSecondarySalmon800);    
    --colorFeebackBackgroundErrorDisable: var(--colorNeutral300);    
    --colorFeebackBackgroundSafeDefault: var(--colorSecondaryChristmas500);    
    --colorFeebackBackgroundSafeHover: var(--colorSecondaryChristmas600);    
    --colorFeebackBackgroundSafeFocus: var(--colorSecondaryChristmas800);    
    --colorFeebackBackgroundSafeDisable: var(--colorNeutral300);    
    --colorFeebackBorderWarningDefault: var(--colorSecondarySunset700);    
    --colorFeebackBorderWarningHover: var(--colorSecondarySunset700);    
    --colorFeebackBorderWarningFocus: var(--colorSecondarySunset700);    
    --colorFeebackBorderWarningDisable: var(--colorNeutral400);    
    --colorFeebackBorderErrorDefault: var(--colorSecondarySalmon800);    
    --colorFeebackBorderErrorHover: var(--colorSecondarySalmon800);    
    --colorFeebackBorderErrorFocus: var(--colorSecondarySalmon800);    
    --colorFeebackBorderErrorDisable: var(--colorNeutral400);    
    --colorFeebackBorderSafeDefault: var(--colorSecondaryChristmas600);    
    --colorFeebackBorderSafeHover: var(--colorSecondaryChristmas600);    
    --colorFeebackBorderSafeFocus: var(--colorSecondaryChristmas600);    
    --colorFeebackBorderSafeDisable: var(--colorNeutral400);    
    --colorFeebackTextOnwarningDefault: var(--colorNeutral700);    
    --colorFeebackTextOnwarningHover: var(--colorNeutral700);    
    --colorFeebackTextOnwarningFocus: var(--colorNeutral700);    
    --colorFeebackTextOnwarningDisable: var(--colorNeutral700);    
    --colorFeebackTextOnerrorDefault: var(--colorNeutral700);    
    --colorFeebackTextOnerrorHover: var(--colorNeutral700);    
    --colorFeebackTextOnerrorFocus: var(--colorNeutral700);    
    --colorFeebackTextOnerrorDisable: var(--colorNeutral700);    
    --colorFeebackTextOnsafeDefault: var(--colorNeutral700);    
    --colorFeebackTextOnsafeHover: var(--colorNeutral700);    
    --colorFeebackTextOnsafeFocus: var(--colorNeutral700);    
    --colorFeebackTextOnsafeDisable: var(--colorNeutral700);    
}