
:root {

--viu-elevation-interactive: 0rem 0.2rem 0.8rem 0rem hsla(214,38%,12%,0.1);

--viu-elevation-sticky_top: 0rem 0.2rem 0.8rem -0.4rem hsla(214,38%,12%,0.1);

--viu-elevation-sticky_bottom: 0rem -0.2rem 0.8rem -0.4rem hsla(214,38%,12%,0.1);

--viu-elevation-float: 0rem 0.2rem 0.8rem 0rem hsla(214,38%,12%,0.1);

--viu-elevation-key-drop-s: 0rem 0.2rem 0.8rem -0.4rem hsla(214,38%,12%,0.1);

--viu-elevation-key-drop-m: 0rem 0.2rem 0.8rem -0.2rem hsla(214,38%,12%,0.1);

--viu-elevation-key-drop-l: 0rem 0.2rem 0.8rem 0rem hsla(214,38%,12%,0.1);

--viu-elevation-key-inner-s: 0rem -0.2rem 0.8rem -0.4rem hsla(214,38%,12%,0.1);

--viu-elevation-key-inner-m: 0rem -0.2rem 0.8rem -0.2rem hsla(214,38%,12%,0.1);

--viu-elevation-key-inner-l: 0rem -0.2rem 0.8rem 0rem hsla(214,38%,12%,0.1);

--viu-elevation-key-reverse-s: 0rem -0.2rem 0.8rem -0.4rem hsla(214,38%,12%,0.1);

--viu-elevation-key-reverse-m: 0rem -0.2rem 0.8rem -0.2rem hsla(214,38%,12%,0.1);

--viu-elevation-key-reverse-l: 0rem -0.2rem 0.8rem 0rem hsla(214,38%,12%,0.1);

--viu-elevation-ambient-drop-s: 0rem 1.6rem 1.6rem -0.8rem hsla(214,38%,12%,0.1);

--viu-elevation-ambient-drop-m: 0rem 1.6rem 1.6rem -0.6rem hsla(214,38%,12%,0.1);

--viu-elevation-ambient-drop-l: 0rem 1.6rem 1.6rem -0.4rem hsla(214,38%,12%,0.1);

--viu-elevation-ambient-reverse-s: 0rem -1.6rem 1.6rem -0.8rem hsla(214,38%,12%,0.1);

--viu-elevation-ambient-reverse-m: 0rem -1.6rem 1.6rem -0.6rem hsla(214,38%,12%,0.1);

--viu-elevation-ambient-reverse-l: 0rem -1.6rem 1.6rem -0.4rem hsla(214,38%,12%,0.1);

--viu-elevation-sunken: var(--viu-elevation-key-inner-m);

--viu-elevation-non-interactive: var(--viu-elevation-key-drop-l);

--viu-elevation-component-card: var(--viu-elevation-non-interactive);
}
