
:root {
    --measureParagraphSpacingParagraphSpacingParagraphspacing0: 0px;    
    --measureDimensionDimensionParagraphindent0: 0px;    
    --measureBorderRadiusBorderRadiusBorderradiusButton: 24px;    
    --measureBorderRadiusBorderRadiusBorderradiusCardDesktop: 24px;    
    --measureBorderRadiusBorderRadiusBorderradiusCardTablet: 16px;    
    --measureBorderRadiusBorderRadiusBorderradiusCardMobile: 16px;    
    --measureLineHeightLineHeightLineHeight0: 20px;    
    --measureLineHeightLineHeightLineHeight1: 22px;    
    --measureLineHeightLineHeightLineHeight2: 28px;    
    --measureLineHeightLineHeightLineHeight3: 16px;    
    --measureLineHeightLineHeightLineHeight4: 14px;    
    --measureLineHeightLineHeightLineHeight5: 30px;    
    --measureLineHeightLineHeightLineHeight6: 120px;    
    --measureLineHeightLineHeightLineHeight7: 90px;    
    --measureLineHeightLineHeightLineHeight8: 80px;    
    --measureLineHeightLineHeightLineHeight9: 52px;    
    --measureLineHeightLineHeightLineHeight10: 46px;    
    --measureLineHeightLineHeightLineHeight11: 40px;    
    --measureLineHeightLineHeightLineHeight12: 32px;    
    --measureLineHeightLineHeightLineHeight13: 24px;    
    --measureLineHeightLineHeightLineHeight14: 70px;    
    --measureLineHeightLineHeightLineHeight15: 50px;    
    --measureLineHeightLineHeightLineHeight16: 44px;    
    --measureLineHeightLineHeightLineHeight17: 36px;    
    --measureLineHeightLineHeightLineHeightHeadingH1Mobile: 80px;    
    --measureLineHeightLineHeightLineHeightHeadingH1Tablet: 30px;    
    --measureFontSizeFontSizeFontSize0: 10px;    
    --measureFontSizeFontSizeFontSize1: 12px;    
    --measureFontSizeFontSizeFontSize2: 14px;    
    --measureFontSizeFontSizeFontSize3: 16px;    
    --measureFontSizeFontSizeFontSize4: 17px;    
    --measureFontSizeFontSizeFontSize5: 18px;    
    --measureFontSizeFontSizeFontSize6: 20px;    
    --measureFontSizeFontSizeFontSize7: 24px;    
    --measureFontSizeFontSizeFontSize8: 26px;    
    --measureFontSizeFontSizeFontSize9: 28px;    
    --measureFontSizeFontSizeFontSize10: 30px;    
    --measureFontSizeFontSizeFontSize11: 32px;    
    --measureFontSizeFontSizeFontSize12: 36px;    
    --measureFontSizeFontSizeFontSize13: 40px;    
    --measureFontSizeFontSizeFontSize14: 46px;    
    --measureFontSizeFontSizeFontSize15: 48px;    
    --measureFontSizeFontSizeFontSize16: 60px;    
    --measureFontSizeFontSizeFontSize17: 80px;    
    --measureFontSizeFontSizeFontSize18: 112px;    
    --measureLetterSpacingLetterSpacingLetterSpacing0: 0px;    
    --measureLetterSpacingLetterSpacingLetterSpacing1: 0%;    
    --measureSizeSizingSizing0: 4px;    
    --measureSizeSizingSizing1: 8px;    
    --measureSizeSizingSizing2: 16px;    
    --measureSizeSizingSizing3: 32px;    
    --measureSizeSizingSizing4: 24px;    
    --measureSizeSizingSizing5: 32px;    
    --measureSizeSizingSizing6: 40px;    
    --measureSizeSizingSizing7: 48px;    
    --measureSizeSizingSizing8: 56px;    
    --measureSizeSizingSizing9: 64px;    
    --measureSizeSizingSizing10: 72px;    
    --measureSizeSizingSizing11: 80px;    
    --measureSizeSizingSizing12: 88px;    
    --measureSizeSizingSizing13: 96px;    
    --measureSizeSizingSizing14: 104px;    
    --measureSizeSizingSizing15: 112px;    
    --measureSpaceSpacingSpaceXxs: 4px;    
    --measureSpaceSpacingSpaceXs: 8px;    
    --measureSpaceSpacingSpaceS: 16px;    
    --measureSpaceSpacingSpaceM: 20px;    
    --measureSpaceSpacingSpaceL: 24px;    
    --measureSpaceSpacingSpaceXl: 32px;    
    --measureSpaceSpacingSpaceXxl: 40px;    
    --measureSpaceSpacingSpaceXxxl: 48px;    
    --measureLineHeightLineHeightLineHeightHeadingH1Desktop: var(--measureLineHeightLineHeightLineHeight9);    
    --measureLineHeightLineHeightLineHeightBody: var(--measureLineHeightLineHeightLineHeight0);    
    --measureFontSizeFontSizeFontSizeHeadingH1Mobile: var(--measureFontSizeFontSizeFontSize10);    
    --measureFontSizeFontSizeFontSizeHeadingH1Tablet: var(--measureFontSizeFontSizeFontSize13);    
    --measureFontSizeFontSizeFontSizeHeadingH1Desktop: var(--measureFontSizeFontSizeFontSize15);    
    --measureFontSizeFontSizeFontSizeHeadingH2Desktop: var(--measureFontSizeFontSizeFontSize13);    
    --measureFontSizeFontSizeFontSizeHeadingH2Tablet: var(--measureFontSizeFontSizeFontSize11);    
    --measureFontSizeFontSizeFontSizeHeadingH2Mobile: var(--measureFontSizeFontSizeFontSize8);    
    --measureFontSizeFontSizeFontSizeBody: var(--measureFontSizeFontSizeFontSize2);    
    --measureFontSizeFontSizeFontSizeBodylong: var(--measureFontSizeFontSizeFontSize3);    
    --measureFontSizeFontSizeFontSizeSmall: var(--measureFontSizeFontSizeFontSize1);    
    --measureFontSizeFontSizeFontSizeTiny: var(--measureFontSizeFontSizeFontSize0);    
    --measureSpaceSpacingSpaceButtonMargin: var(--measureSpaceSpacingSpaceS);    
    --measureSpaceSpacingSpaceButtonPadding: var(--measureSpaceSpacingSpaceS);    
    --measureSpaceSpacingSpaceHeadingH1Desktop: var(--measureSpaceSpacingSpaceL);    
    --measureSpaceSpacingSpaceHeadingH1Tablet: var(--measureSpaceSpacingSpaceS);    
    --measureSpaceSpacingSpaceHeadingH1Mobile: var(--measureSpaceSpacingSpaceXs);    
    --measureSpaceSpacingSpaceHeadingH2Desktop: var(--measureSpaceSpacingSpaceS);    
    --measureSpaceSpacingSpaceHeadingH2Tablet: var(--measureSpaceSpacingSpaceS);    
    --measureSpaceSpacingSpaceHeadingH2Mobile: var(--measureSpaceSpacingSpaceXs);    
    --measureSpaceSpacingSpaceHeadingH3Desktop: var(--measureSpaceSpacingSpaceS);    
    --measureSpaceSpacingSpaceHeadingH3Tablet: var(--measureSpaceSpacingSpaceS);    
    --measureSpaceSpacingSpaceHeadingH3Mobile: var(--measureSpaceSpacingSpaceXs);    
    --measureSpaceSpacingSpaceHeadingH4Desktop: var(--measureSpaceSpacingSpaceS);    
    --measureSpaceSpacingSpaceHeadingH4Tablet: var(--measureSpaceSpacingSpaceS);    
    --measureSpaceSpacingSpaceHeadingH4Mobile: var(--measureSpaceSpacingSpaceXs);    
    --measureSpaceSpacingSpaceHeadingH5Desktop: var(--measureSpaceSpacingSpaceS);    
    --measureSpaceSpacingSpaceHeadingH5Tablet: var(--measureSpaceSpacingSpaceS);    
    --measureSpaceSpacingSpaceHeadingH5Mobile: var(--measureSpaceSpacingSpaceXs);    
    --measureSpaceSpacingSpaceHeadingH6Desktop: var(--measureSpaceSpacingSpaceS);    
    --measureSpaceSpacingSpaceHeadingH6Tablet: var(--measureSpaceSpacingSpaceS);    
    --measureSpaceSpacingSpaceHeadingH6Mobile: var(--measureSpaceSpacingSpaceXs);    
    --measureSpaceSpacingSpaceContentBodytext: var(--measureSpaceSpacingSpaceL);    
    --measureSpaceSpacingSpaceContentSmalltext: var(--measureSpaceSpacingSpaceXs);    
    --measureSpaceSpacingSpaceContentTinytext: var(--measureSpaceSpacingSpaceXxs);    
    --measureSpaceSpacingSpaceSectionDesktop: var(--measureSpaceSpacingSpaceXxxl);    
    --measureSpaceSpacingSpaceSectionTablet: var(--measureSpaceSpacingSpaceXl);    
    --measureSpaceSpacingSpaceSectionMobile: var(--measureSpaceSpacingSpaceXl);    
}