
:root {
    --measureParagraphSpacingParagraphSpacingParagraphspacing0: 0px;    
    --measureDimensionDimensionParagraphindent0: 0px;    
    --measureFontSizeFontSizeTypographyHeadingH1Desktop: 50px;    
    --measureFontSizeFontSizeTypographyHeadingH1Tablet: 24px;    
    --measureFontSizeFontSizeTypographyHeadingH1Mobile: 46px;    
    --measureLineHeightLineHeightRef2: 28px;    
    --measureLineHeightLineHeightRef3: 16px;    
    --measureLineHeightLineHeightRef4: 14px;    
    --measureLineHeightLineHeightRef5: 30px;    
    --measureLineHeightLineHeightRef6: 120px;    
    --measureLineHeightLineHeightRef7: 90px;    
    --measureLineHeightLineHeightRef8: 80px;    
    --measureLineHeightLineHeightRef9: 52px;    
    --measureLineHeightLineHeightRef10: 46px;    
    --measureLineHeightLineHeightRef11: 40px;    
    --measureLineHeightLineHeightRef12: 32px;    
    --measureLineHeightLineHeightRef13: 24px;    
    --measureLineHeightLineHeightRef14: 70px;    
    --measureLineHeightLineHeightRef15: 50px;    
    --measureLineHeightLineHeightRef16: 44px;    
    --measureLineHeightLineHeightRef17: 36px;    
    --measureLetterSpacingLetterSpacingRef0: 0px;    
    --measureLetterSpacingLetterSpacingRef1: 0%;    
    --measureFontSizeFontSizeRef18: 112px;    
    --measureLineHeightLineHeightHeadingH1Mobile: var(--measureLineHeightLineHeightRef17);    
    --measureLineHeightLineHeightHeadingH1Tablet: var(--measureLineHeightLineHeightRef10);    
    --measureLineHeightLineHeightHeadingH1Desktop: var(--measureLineHeightLineHeightRef9);    
}