.typographyGeneralBodyBody 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 0px;
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyGeneralBodyBodyBold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 0px;
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyGeneralBodyBodyBoldUnderlined 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 0%;
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyGeneralBodyBodyUppercase 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 0px;
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyGeneralBodyBodyBoldList 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 0px;
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyGeneralBodyBodyLong 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: var(--measureLineHeightLineHeightRef2);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyGeneralBodyBodyLongBold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: var(--measureLineHeightLineHeightRef2);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyGeneralBodyBodyLongBoldUnderlined 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: var(--measureLineHeightLineHeightRef2);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyGeneralBodyBodySmallCta 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0%;
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyGeneralSmallSmall 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1%;
  line-height: var(--measureLineHeightLineHeightRef3);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyGeneralSmallSmallBold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1%;
  line-height: var(--measureLineHeightLineHeightRef3);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyGeneralSmallSmallBoldUnderlined 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1%;
  line-height: var(--measureLineHeightLineHeightRef3);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyGeneralSmallSmallBoldCrossed 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1%;
  line-height: var(--measureLineHeightLineHeightRef3);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyGeneralSmallSmallBoldUppercase 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1%;
  line-height: var(--measureLineHeightLineHeightRef3);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyGeneralTinyTiny 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1px;
  line-height: var(--measureLineHeightLineHeightRef4);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyGeneralTinyTinyBold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1px;
  line-height: var(--measureLineHeightLineHeightRef4);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyGeneralTinyTinyBoldUnderlined 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1px;
  line-height: var(--measureLineHeightLineHeightRef4);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyGeneralTinyTinyBoldUppercase 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1px;
  line-height: var(--measureLineHeightLineHeightRef4);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyGeneralAdditionalSubscript 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: var(--measureLineHeightLineHeightRef2);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyGeneralAdditionalSuperscript 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: var(--measureLineHeightLineHeightRef2);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyGeneralAdditionalBlockquoteBody 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: var(--measureLineHeightLineHeightRef2);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyGeneralAdditionalBlockquoteHeader 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: var(--measureLineHeightLineHeightRef2);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyGeneralAdditionalBulletText 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: var(--measureLineHeightLineHeightRef5);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyGeneralAdditionalBulletTextSeconLevel 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1%;
  line-height: var(--measureLineHeightLineHeightRef3);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyDesktopUber 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: var(--measureFontSizeFontSizeRef18);
  line-height: var(--measureLineHeightLineHeightRef6);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyDesktopHero 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: var(--measureLineHeightLineHeightRef7);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyDesktopH1Deprecated_ 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: var(--measureLineHeightLineHeightRef8);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyDesktopH1 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: var(--measureLineHeightLineHeightRef9);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyDesktopH2 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: var(--measureLineHeightLineHeightRef10);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyDesktopH3 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: var(--measureLineHeightLineHeightRef11);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyDesktopH3Bold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 52px;
  line-height: var(--measureLineHeightLineHeightRef11);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyDesktopH4 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 90px;
  line-height: var(--measureLineHeightLineHeightRef12);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyDesktopH4Bold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 90px;
  line-height: var(--measureLineHeightLineHeightRef12);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyDesktopH5 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 120px;
  line-height: var(--measureLineHeightLineHeightRef13);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyDesktopH5Bold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 120px;
  line-height: var(--measureLineHeightLineHeightRef13);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyDesktopH6 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: var(--measureLineHeightLineHeightRef13);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyDesktopH6Bold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: var(--measureLineHeightLineHeightRef13);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyDesktopH6BoldUnderlined 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: var(--measureLineHeightLineHeightRef13);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyTabletUber 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: var(--measureLineHeightLineHeightRef7);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyTabletHero 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: var(--measureLineHeightLineHeightRef8);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyTabletH1Deprecated_ 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: var(--measureLineHeightLineHeightRef9);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyTabletH1 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: var(--measureLineHeightLineHeightRef10);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyTabletH2 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: var(--measureLineHeightLineHeightRef11);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyTabletH3 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 90px;
  line-height: var(--measureLineHeightLineHeightRef12);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyTabletH3Bold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 90px;
  line-height: var(--measureLineHeightLineHeightRef12);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyTabletH4 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 120px;
  line-height: var(--measureLineHeightLineHeightRef13);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyTabletH4Bold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 120px;
  line-height: var(--measureLineHeightLineHeightRef13);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyTabletH5 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: var(--measureLineHeightLineHeightRef13);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyTabletH5Bold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: var(--measureLineHeightLineHeightRef13);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyTabletH6 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: var(--measureLineHeightLineHeightRef13);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyTabletH6Bold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: var(--measureLineHeightLineHeightRef13);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyTabletH6BoldUnderline 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: var(--measureLineHeightLineHeightRef13);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyMobileUber 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: var(--measureLineHeightLineHeightRef14);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyMobileHero 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: var(--measureLineHeightLineHeightRef15);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyMobileH1Deprecated_ 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: var(--measureLineHeightLineHeightRef16);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyMobileH1 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: var(--measureLineHeightLineHeightRef17);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyMobileH2 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: var(--measureLineHeightLineHeightRef2);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyMobileH3 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 90px;
  line-height: var(--measureLineHeightLineHeightRef5);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyMobileH3Bold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 90px;
  line-height: var(--measureLineHeightLineHeightRef5);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyMobileH4 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 120px;
  line-height: var(--measureLineHeightLineHeightRef13);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyMobileH4Bold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 120px;
  line-height: var(--measureLineHeightLineHeightRef13);
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyMobileH5 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 0%;
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyMobileH5Bold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 0%;
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyMobileH6 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0px;
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyMobileH6Bold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 0px;
  letter-spacing: var(--measureLetterSpacingLetterSpacingRef0);
  text-indent: 0px;
  
}    

.typographyMobileH6BoldUnderline 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 0px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

