
.typographyGeneralBodyBody 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeFontsize2;
  line-height: $measureLineHeightLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyGeneralBodyBodyBold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize2;
  line-height: $measureLineHeightLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyGeneralBodyBodyBoldUnderlined 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize2;
  line-height: $measureLineHeightLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyGeneralBodyBodyUppercase 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeFontsize2;
  line-height: $measureLineHeightLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyGeneralBodyBodyBoldList 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeFontsize2;
  line-height: $measureLineHeightLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyGeneralBodyBodyLong 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights2;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyGeneralBodyBodyLongBold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights2;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyGeneralBodyBodyLongBoldUnderlined 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights2;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyGeneralBodyBodySmallCta 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyGeneralSmallSmall 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeFontsize1;
  line-height: $measureLineHeightLineHeightLineheights3;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyGeneralSmallSmallBold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize1;
  line-height: $measureLineHeightLineHeightLineheights3;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyGeneralSmallSmallBoldUnderlined 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize1;
  line-height: $measureLineHeightLineHeightLineheights3;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyGeneralSmallSmallBoldCrossed 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize1;
  line-height: $measureLineHeightLineHeightLineheights3;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyGeneralSmallSmallBoldUppercase 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize1;
  line-height: $measureLineHeightLineHeightLineheights3;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyGeneralTinyTiny 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontSizeFontsize0;
  line-height: $measureLineHeightLineHeightLineheights4;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyGeneralTinyTinyBold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize0;
  line-height: $measureLineHeightLineHeightLineheights4;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyGeneralTinyTinyBoldUnderlined 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize0;
  line-height: $measureLineHeightLineHeightLineheights4;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyGeneralTinyTinyBoldUppercase 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize0;
  line-height: $measureLineHeightLineHeightLineheights4;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyGeneralAdditionalSubscript 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights2;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyGeneralAdditionalSuperscript 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights2;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyGeneralAdditionalBlockquoteBody 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights2;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyGeneralAdditionalBlockquoteHeader 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights2;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyGeneralAdditionalBulletText 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights5;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyGeneralAdditionalBulletTextSeconLevel 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize1;
  line-height: $measureLineHeightLineHeightLineheights3;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyDesktopUber 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize18;
  line-height: $measureLineHeightLineHeightLineheights6;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyDesktopHero 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize17;
  line-height: $measureLineHeightLineHeightLineheights7;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyDesktopH1Deprecated_ 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize16;
  line-height: $measureLineHeightLineHeightLineheights8;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyDesktopH1 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize15;
  line-height: $measureLineHeightLineHeightLineheights9;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyDesktopH2 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize13;
  line-height: $measureLineHeightLineHeightLineheights10;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyDesktopH3 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize9;
  line-height: $measureLineHeightLineHeightLineheights11;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyDesktopH3Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: $measureFontSizeFontSizeFontsize9;
  line-height: $measureLineHeightLineHeightLineheights11;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyDesktopH4 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize7;
  line-height: $measureLineHeightLineHeightLineheights12;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyDesktopH4Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: $measureFontSizeFontSizeFontsize7;
  line-height: $measureLineHeightLineHeightLineheights12;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyDesktopH5 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize6;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyDesktopH5Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: $measureFontSizeFontSizeFontsize6;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyDesktopH6 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeFontsize5;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyDesktopH6Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize5;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyDesktopH6BoldUnderlined 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize5;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyTabletUber 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize17;
  line-height: $measureLineHeightLineHeightLineheights7;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyTabletHero 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize16;
  line-height: $measureLineHeightLineHeightLineheights8;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyTabletH1Deprecated_ 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize15;
  line-height: $measureLineHeightLineHeightLineheights9;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyTabletH1 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize13;
  line-height: $measureLineHeightLineHeightLineheights10;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyTabletH2 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize11;
  line-height: $measureLineHeightLineHeightLineheights11;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyTabletH3 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize7;
  line-height: $measureLineHeightLineHeightLineheights12;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyTabletH3Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: $measureFontSizeFontSizeFontsize7;
  line-height: $measureLineHeightLineHeightLineheights12;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyTabletH4 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize6;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyTabletH4Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: $measureFontSizeFontSizeFontsize6;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyTabletH5 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize5;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyTabletH5Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize5;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyTabletH6 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyTabletH6Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyTabletH6BoldUnderline 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyMobileUber 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize16;
  line-height: $measureLineHeightLineHeightLineheights14;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyMobileHero 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize14;
  line-height: $measureLineHeightLineHeightLineheights15;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyMobileH1Deprecated_ 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize12;
  line-height: $measureLineHeightLineHeightLineheights16;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyMobileH1 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize10;
  line-height: $measureLineHeightLineHeightLineheights17;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyMobileH2 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize8;
  line-height: $measureLineHeightLineHeightLineheights2;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyMobileH3 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize7;
  line-height: $measureLineHeightLineHeightLineheights5;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyMobileH3Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: $measureFontSizeFontSizeFontsize7;
  line-height: $measureLineHeightLineHeightLineheights5;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyMobileH4 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize6;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyMobileH4Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: $measureFontSizeFontSizeFontsize6;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyMobileH5 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize4;
  line-height: $measureLineHeightLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyMobileH5Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: $measureFontSizeFontSizeFontsize4;
  line-height: $measureLineHeightLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyMobileH6 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyMobileH6Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

.typographyMobileH6BoldUnderline 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights0;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyGeneralBodyBody 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeFontsize2;
  line-height: $measureLineHeightLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyGeneralBodyBodyBold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize2;
  line-height: $measureLineHeightLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyGeneralBodyBodyBoldUnderlined 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize2;
  line-height: $measureLineHeightLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyGeneralBodyBodyUppercase 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeFontsize2;
  line-height: $measureLineHeightLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyGeneralBodyBodyBoldList 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeFontsize2;
  line-height: $measureLineHeightLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyGeneralBodyBodyLong 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights2;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyGeneralBodyBodyLongBold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights2;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyGeneralBodyBodyLongBoldUnderlined 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights2;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyGeneralBodyBodySmallCta 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyGeneralSmallSmall 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeFontsize1;
  line-height: $measureLineHeightLineHeightLineheights3;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyGeneralSmallSmallBold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize1;
  line-height: $measureLineHeightLineHeightLineheights3;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyGeneralSmallSmallBoldUnderlined 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize1;
  line-height: $measureLineHeightLineHeightLineheights3;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyGeneralSmallSmallBoldCrossed 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize1;
  line-height: $measureLineHeightLineHeightLineheights3;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyGeneralSmallSmallBoldUppercase 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize1;
  line-height: $measureLineHeightLineHeightLineheights3;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyGeneralTinyTiny 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontSizeFontsize0;
  line-height: $measureLineHeightLineHeightLineheights4;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyGeneralTinyTinyBold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize0;
  line-height: $measureLineHeightLineHeightLineheights4;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyGeneralTinyTinyBoldUnderlined 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize0;
  line-height: $measureLineHeightLineHeightLineheights4;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyGeneralTinyTinyBoldUppercase 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize0;
  line-height: $measureLineHeightLineHeightLineheights4;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyGeneralAdditionalSubscript 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights2;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyGeneralAdditionalSuperscript 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights2;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyGeneralAdditionalBlockquoteBody 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights2;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyGeneralAdditionalBlockquoteHeader 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights2;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyGeneralAdditionalBulletText 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights5;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyGeneralAdditionalBulletTextSeconLevel 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize1;
  line-height: $measureLineHeightLineHeightLineheights3;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopUber 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize18;
  line-height: $measureLineHeightLineHeightLineheights6;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopHero 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize17;
  line-height: $measureLineHeightLineHeightLineheights7;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopH1Deprecated_ 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize16;
  line-height: $measureLineHeightLineHeightLineheights8;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopH1 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize15;
  line-height: $measureLineHeightLineHeightLineheights9;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopH2 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize13;
  line-height: $measureLineHeightLineHeightLineheights10;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopH3 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize9;
  line-height: $measureLineHeightLineHeightLineheights11;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopH3Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: $measureFontSizeFontSizeFontsize9;
  line-height: $measureLineHeightLineHeightLineheights11;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopH4 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize7;
  line-height: $measureLineHeightLineHeightLineheights12;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopH4Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: $measureFontSizeFontSizeFontsize7;
  line-height: $measureLineHeightLineHeightLineheights12;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopH5 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize6;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopH5Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: $measureFontSizeFontSizeFontsize6;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopH6 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeFontsize5;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopH6Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize5;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyDesktopH6BoldUnderlined 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize5;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyTabletUber 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize17;
  line-height: $measureLineHeightLineHeightLineheights7;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyTabletHero 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize16;
  line-height: $measureLineHeightLineHeightLineheights8;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyTabletH1Deprecated_ 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize15;
  line-height: $measureLineHeightLineHeightLineheights9;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyTabletH1 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize13;
  line-height: $measureLineHeightLineHeightLineheights10;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyTabletH2 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize11;
  line-height: $measureLineHeightLineHeightLineheights11;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyTabletH3 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize7;
  line-height: $measureLineHeightLineHeightLineheights12;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyTabletH3Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: $measureFontSizeFontSizeFontsize7;
  line-height: $measureLineHeightLineHeightLineheights12;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyTabletH4 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize6;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyTabletH4Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: $measureFontSizeFontSizeFontsize6;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyTabletH5 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize5;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyTabletH5Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize5;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyTabletH6 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyTabletH6Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyTabletH6BoldUnderline 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyMobileUber 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize16;
  line-height: $measureLineHeightLineHeightLineheights14;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyMobileHero 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize14;
  line-height: $measureLineHeightLineHeightLineheights15;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyMobileH1Deprecated_ 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize12;
  line-height: $measureLineHeightLineHeightLineheights16;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyMobileH1 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize10;
  line-height: $measureLineHeightLineHeightLineheights17;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyMobileH2 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize8;
  line-height: $measureLineHeightLineHeightLineheights2;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyMobileH3 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize7;
  line-height: $measureLineHeightLineHeightLineheights5;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyMobileH3Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: $measureFontSizeFontSizeFontsize7;
  line-height: $measureLineHeightLineHeightLineheights5;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyMobileH4 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize6;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyMobileH4Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: $measureFontSizeFontSizeFontsize6;
  line-height: $measureLineHeightLineHeightLineheights13;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyMobileH5 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: $measureFontSizeFontSizeFontsize4;
  line-height: $measureLineHeightLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyMobileH5Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: $measureFontSizeFontSizeFontsize4;
  line-height: $measureLineHeightLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyMobileH6 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyMobileH6Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterSpacingLetterspacing0;
  
  text-indent: 0px; 
}    

@mixin typographyMobileH6BoldUnderline 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: $measureFontSizeFontSizeFontsize3;
  line-height: $measureLineHeightLineHeightLineheights0;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

