/* VIU core CSS */
/* @import url(assets/dist/css/bootstrap.css); */
@import url(../measures.css);
@import url(../colors.css);
@import url(../borders.css);
@import url(../gradients.css);
@import url(../elevation.css);
@import url(../typography.css);
@import url(typography.css); /* VIU typography CSS */
@import url(layout.css); /* VIU layout CSS */
@import url(buttons.css); /* VIU button CSS */
@import url(cards.css); /* VIU cards CSS */
@import url(links.css); /* VIU links CSS */
@import url(icons.css); /* VIU icons CSS */
@import url(tabs.css); /* VIU icons CSS */


body{
  font:var(--viu-typography-general-body);
  color:#212529;
}
header, footer, main{
  padding-top: var(--viu-measure-spacing-s);
  padding-bottom: var(--viu-measure-spacing-s);
}
.viu-color{
  display:inline-block;
  height:100px;
  font:var(--viu-typography-general-tiny);
  line-height: var(--viu-measure-lineheight-content-tiny);
  padding: var(--viu-measure-sizing-0) ;
  border-radius: var(--viu-measure-borderradius-xs);
}