/* VIU core CSS */
@import url(assets/dist/css/bootstrap.css);
@import url(../colors.css);
@import url(../measures.css);
@import url(../borders.css);
@import url(../gradients.css);
@import url(../shadows.css);
@import url(../typography.css);


.icon-list {
  padding-left: 0;
  list-style: none;
}
.icon-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: .25rem;
}
.icon-list li::before {
  display: block;
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
  margin-right: .5rem;
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E") no-repeat center center / 100% auto;
}
  
body{
font-family: var(--bs-font-sans-serif);
font-size: 1rem;
color: #212529;
}


/* Primary BTN */
.btn-primary {
  color: var(--colorActionTextOnprimaryDefault); 
  background-color: var(--colorActionBackgroundPrimaryDefault); 
  border: var(--borderActionButtonPrimaryDefault);
  border-radius: var(--measureBorderRadiusBorderRadiusBorderradiusButton);
  margin-right: var(--measureSizeSizingSize3);
}
.btn-primary:hover {
  color: var(--colorActionTextOnprimaryDefault); 
  background-color: var(--colorActionBackgroundPrimaryHover); 
  border-color: var(--colorActionBorderPrimaryHover);
}

/* Secondary BTN */
.btn-secondary {
    color: var(--colorActionTextOnsecondaryDefault); 
    background-color: var(--colorActionBackgroundSecondaryDefault); 
    border-color: var(--colorActionBorderSecondaryDefault);
    border-radius: var(--measureBorderRadiusBorderRadiusBorderradiusButton);
    }
.btn-secondary:hover {
    color: var(--colorActionTextOnsecondayHover); 
    background-color: var(--colorActionBackgroundSecondaryHover); 
    border-color: var(--colorActionBorderSecondaryHover);
    }
  


/* Links */
a {
  color: var(--colorActionTextOnsecondaryDefault); 
  text-decoration: underline;
}
a:hover {
  color: var(--colorActionTextOnsecondaryHover); 
}



@media (min-width:960px){
  h1 {
    font-size: var(--measureFontSizeFontSizeFontsizeHeadingH1Mobile);
    line-height: var(--measureLineHeightLineHeightLineheightHeadingH1Mobile);
    letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
    margin-bottom: var(--measureSizeSizingSize3);
    }
  h2 {
    font-size: var(--measureFontSizeFontSizeFontsizeHeadingH2Mobile);
    line-height: var(--measureLineHeightLineHeightLineheightHeadingH2Mobile);
    letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
    margin-bottom: var(--measureSizeSizingSize2);
    }


}

@media (min-width:1200px){
  h1 {
    font-weight: 500;
    font-size: var(--measureFontSizeFontSizeFontsizeHeadingH1Desktop);
    line-height: var(--measureLineHeightLineHeightLineheightHeadingH1Desktop);
    letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
    margin-bottom: var(--measureSizeSizingSize4);
    }
  h2 {
    font-size: var(--measureFontSizeFontSizeFontsizeHeadingH2Desktop);
    line-height: var(--measureLineHeightLineHeightLineheightHeadingH2Desktop);
    letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
    margin-bottom: var(--measureSizeSizingSize3);
    }
  p{
    font-size: var(--measureFontSizeFontSizeFontsizeBody);
    line-height: var(--measureLineHeightLineHeightLineheightBody);
    letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
    margin-bottom: var(--measureSizeSizingSize3);   
  }
}